@model IEnumerable<WeddingRestaurant.ViewModels.ListOrderVM>


    @if (Model != null && Model.Count() > 0)
    {
        <h1 class="text-center">Danh sách sản phẩm đã đặt</h1>

        <div style="margin: 0 auto;" class="w-75 border-dark">
            @foreach (var order in Model)
            {
                <div style="background:white;" class="shadow border m-4">
                    <div class="m-4">
                        <div class="d-flex justify-content-between">
                            <h3 style="margin-left: 35px;">
                                Sản phẩm
                            </h3>
                            <h3 style="margin-left: 380px;">
                                Đơn giá
                            </h3>
                        </div>
                        @foreach (var detail in order.OrderDetails)
                        {
                            <div class="d-flex justify-content-between align-items-center p-2 my-4 border border-bottom">
                                <div class="d-flex w-50">

                                    @* <div style="width: 165px; height: 180px;">
                                        <a style="margin-bottom:5px" href="@Url.Action("Detail", "Book", new { id = detail.ProductID })">
                                        </a>
                                    </div> *@

                                    <div class="ms-2 ">
                                        <h2>@detail.ProductName</h2>
                                    </div>
                                </div>  
                                <div>
                                    <h4 class="text-danger ">@detail.UnitPrice VNĐ</h4>
                                </div>
                            </div>
                        }
                        <h5 class="m-4 text-end">Hình thức thanh toán: @order.PaymentMethods</h5>
                        <h3 class="text-end m-4">
                            Tổng thanh toán:
                            <span class="text-danger">
                                @order.OrderDetails.Sum(m => m.UnitPrice) VNĐ
                            </span>
                        </h3>

                    </div>
                </div>
            }
                </div>
            }
    else
    {
        <h3 class="mx-5 my-2 text-center text-danger">Bạn chưa có đơn hàng</h3>
    }
