@model IEnumerable<WeddingRestaurant.ViewModels.MessageVM>

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

@foreach (var message in Model)
{
    <div id="@message.UserName-id" data-user-name="@message.UserName" class="message @((message.UserName == Context.User.Identity.Name) ? "sent" : "received")">
        <div title="@message.Time">@message.Content</div>
    </div>
}
